.page-content {
  width: 100%;
  height: 100%;
}
.flex-inherit {
  flex: inherit!important;
}
.mb-20 {
  margin-bottom: 20px;
}
.w-45 {
  width: 45px;
}
.w-105 {
  width: 105px;
}

/*TABLE*/
.table-container {
  display: flex;
  flex-flow: column nowrap;
  margin: 50px 0 20px;
}
.table-container .table-row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  font-weight: 500;
  color: gray;
  background-color: #c7e3f3;
  padding: 5px 15px;
  margin-bottom: 10px;
}
.table-container .row-item {
  display: flex;
  flex: 1;
  font-size: 14px;
  align-items: center;
  padding: 0 5px;
}

.table-container .row-item i {
  color: gray;
  font-size: 17px;
}
.table-container .row-item.heading-column {
  color: #333;
}
.table-container .row-item .logo {
  width: 34px;
  height: 34px;
  background-color: #333;
  border-radius: 50%;
}
.table-container .row-item .logo i {
  color: #fafafa;
  font-size: 15px;
}


.table-container .table-row.heading-row {
  background-color: gray;
  color: #fafafa;
  border-radius: 4px;
  font-weight: 700;
}
.table-container .table-row.heading-row .row-item i {
  color: #fafafa;
}

/*FORM*/
.create-note {
  margin-top: auto;
}
.create-form > div {
  margin-right: 20px;
}
.form-group label {
  margin-right: 10px;
}
